<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Penghasil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
        <ion-row>
            <ion-col size="12" offset-sm="6">
              <ion-item lines="none">
                <!-- <ion-label position="fixed">Nama</ion-label> -->
                <input
                  class="input"
                  type="text"
                  formControlName="nama"
                  placeholder="Name"
                />

              </ion-item>
            </ion-col>
          </ion-row>
      <ion-row>
          <ion-col size="12" offset-sm="3">
              <ion-item lines="none">
                <!-- <ion-label position="floating">Lokasi</ion-label> -->
                <input
                  class="input"
                  type="text"
                  formControlName="lokasi"
                  #autoCompleteInput
                />
              </ion-item>
            </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div #mapElement class="map"></div>
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>

  <ion-button class="ion-margin" expand="block" (click)="addPenghasil()">Simpan</ion-button>

</ion-content>
