<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Tracking</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapElement id="map"></div>
    <ion-list>
    <ion-item class="ion-activatable ; ion-no-padding" *ngFor="let item of listManifest" (click)="clickManifest(item.nama_penghasil, item.nama_tujuan)">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            {{item.manifest_no}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10">
            {{item.tanggal | date: "dd MMM, yyyy"}}
          </ion-col>
          <ion-col size="2">
            <ion-text>Detail...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>{{item.nama_penghasil}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>