<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Daftar Kendaraan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="addKendaraan()">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div class="ion-text-center" *ngIf="!isLoading && loadedVehicles.length <= 0" >
          <p>Tidak ada Kendaraan. Mohon untuk ditambahkan</p>
        </div>
        <ion-item *ngIf="!isLoading && loadedVehicles.length > 0" lines="none">
            <ion-card *ngFor="let kendaraan of loadedVehicles" class="ion-padding">
              <ion-card-title>Plat Nomor      : {{kendaraan.plat}}</ion-card-title>
              <ion-card-subtitle>Jenis        : {{kendaraan.jenis}}</ion-card-subtitle>
              <ion-card-subtitle>Kapasitas    : {{kendaraan.kapasitas}} Ton</ion-card-subtitle>
              <ion-card-subtitle>No. Bapedal  : {{kendaraan.noBapedal}}</ion-card-subtitle>
            </ion-card>
          </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>