<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Tambah Izin</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/izin"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">No. Ijin Pengangkutan</ion-label>
              <ion-input type="text" formControlName="no_ijin" max="12">

              </ion-input>
            </ion-item>

          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label>tanggal mulai</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD" formControlName="berlaku_mulai" min="2015-01-01" max="2050-12-12"></ion-datetime>
                  <!-- <ion-datetime value="1990-02-20"  formControlName="berlaku_mulai" placeholder="Select Date"></ion-datetime> -->
               
              </ion-item>
  
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-label>tanggal selesai</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" formControlName="berlaku_sampai" min="2015-01-01" max="2050-12-12"></ion-datetime>   
                </ion-item>
    
              </ion-col>
          
        </ion-row>
      </ion-grid>

  </form>
  <ion-button expand="block" [disabled]="!form.valid" (click)="addIzin()">Simpan</ion-button>
</ion-content>

