<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Data Manifest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form onsubmit="processForm(event)">
  <ion-list>
    <ion-item>
      <ion-label position="floating">No <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Penghasil</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let item of listPenghasil" value="item.id">{{item.nama}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Jenis Limbah</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let item of listJenisLimbah"  value="item.id">{{item.jenis}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Kelompok Kemasan</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let item of listKemasan"  value="item.id">{{item.kemasan}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Jumlah Pesanan<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Satuan <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unit</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let item of listUnit" value="item.id">{{item.unit}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tujuan</ion-label>
      <ion-select>
        <ion-select-option value="cat">Cat</ion-select-option>
        <ion-select-option value="dog">Dog</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="next()" class="ion-no-margin">NEXT</ion-button>
  </div>
  </form>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
<script>
  const controller = document.querySelector('ion-alert-controller');
  let firstName, lastName;
  function processForm(event) {
    event.preventDefault();
    controller.create({
      header: 'Account Created',
      message: `Created account for: <b>${firstName} ${lastName}</b>`,
      buttons: [{
        text: 'OK'
      }]
    }).then(alert => alert.present());
  }
  function handleFirstNameValue(event) {
    firstName = event.target.value;
  }
  function handleLastNameValue(event) {
    lastName = event.target.value;
  }
</script>