<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Izin</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">No. Ijin Pengangkutan</ion-label>
      <ion-input>

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Berlaku mulai</ion-label>
      <ion-datetime min="2019-01-01" max="2024-12-31"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Berlaku sampai</ion-label>
        <ion-datetime min="2019-01-01" max="2024-12-31"></ion-datetime>
      </ion-item>
  </ion-list>
  <ion-button expand="block">Simpan</ion-button>
</ion-content>
