
<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Pengemudi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">NO SIM</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telp</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
  </ion-card>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin">Tambah data</ion-button>
  </div>
</ion-content>
