.welcome-card {
  max-height: 35vh;
  overflow: hidden;
  // background-color: red;
  // background: url(img/car.png);
}
.pengemudi-card {
  max-height: 35vh;
  overflow: hidden;
  // background-color: blue;
}
.penghasil-card {
  max-height: 35vh;
  overflow: hidden;
  // background-color: yellow;
}
.izin-card {
  max-height: 35vh;
  overflow: hidden;
  // background-color: green;
}