<ion-header>
  <ion-toolbar>
    <ion-title>Driver</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="manifestDriverForm">
    <ion-list>
      <ion-item>
      <ion-label position="floating">Driver</ion-label>
      <ion-select formControlName="driver" (ionChange)="onDriverSelected($event)">
        <ion-select-option *ngFor="let item of listDriver" value="{{item.sim}}">{{item.nama}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Plat Nomor</ion-label>
      
      <ion-select formControlName="plat" (ionChange)="onPlatSelected($event)">
        <ion-select-option *ngFor="let item of listKendaraan" value="{{item.plat}}">{{item.plat}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Tanggal
      </ion-label>
      <ion-datetime formControlName="tanggal" min="2019-01-01" max="2050-12-31"></ion-datetime>
    </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" [disabled]="!manifestDriverForm.valid" (click)="simpanPerjalanan()" class="ion-no-margin">SIMPAN</ion-button>
    </div>
  </form>
  <!-- <ion-item>
    <ion-label>
      Plat Nomor
    </ion-label>
    <ion-select ok-text="Pilih" cancel-text="Kembali">
    </ion-select>
  </ion-item>
  <ion-item>
      <ion-label>
        Driver
      </ion-label>
      <ion-select ok-text="Pilih" cancel-text="Kembali">
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>
          Tanggal
        </ion-label>
        <ion-datetime min="2019-01-01" max="2025-12-31"></ion-datetime>
      </ion-item> -->
      
</ion-content>
