
<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Tambah Kendaraan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item>
    <ion-label position="floating">Plat Nomor</ion-label>
    <ion-input>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Jenis</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Kapasitas</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">No. Bapedal</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-list>
<ion-button expand="block">Simpan</ion-button>

</ion-content>
